.bg-conference {
  background-blend-mode: multiply;
  background-image: url('../assets/images/conference/conference-img.png');
  background-color: #705D8A;
  background-size: cover;
}

.btn-conference {
  color: #fff;
  background-color: #42426d !important;
  border-color: #42426d !important;
}

.btn-conference:hover, .btn-conference:active, .btn-conference:focus {
  color: #fff;
  filter: brightness(90%);
}

.btn-conference:active, .btn-conference:focus {
  color: #fff;
  filter: brightness(80%);
}