.display-1 {
    font-size: 5rem !important;
    font-weight: 600 !important;
}

.display-2 {
    font-size: 4.5rem !important;
}

.display-3 {
    font-size: 4rem !important;
}

.display-4 {
    font-size: 3rem !important;
}

.display-5 {
    font-size: 2rem !important;
}