.display-1, .display-2, .display-3, .display-4, .h1, .h2, .h3, .h4, h1, h2, h3, h4 {
    letter-spacing: -.02em;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    margin-bottom: 1rem;
    font-family: inherit;
    font-weight: 600;
    line-height: 1.2;
}

.display-1 {
    font-size: 5rem !important;
    font-weight: 600 !important;
}

.display-2 {
    font-size: 4.5rem !important;
}

.display-3 {
    font-size: 4rem !important;
}

.display-4 {
    font-size: 3rem !important;
}

.display-5 {
    font-size: 2rem !important;
}

p {
    color: #495057;
}