body {
  margin: 0;
  font-family: Inter, Arial, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  text-align: left;
  background-color: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Background Images */

.bg-image {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.bg-image:not([class*=absolute]) {
  position: absolute;
}

img.bg-image {
  object-fit: cover;
}

/* Card */

@media (max-width: 767.98px) {
  .card {
    margin-bottom: .6rem;
  }
}

.countdown-card {
  padding: 1rem;
  min-width: 180px;
  margin-bottom: 0.8rem;
}

/* Images */

img {
  max-width: 100%;
  vertical-align: middle;
  border-style: none;
}

.blend-mode-multiply {
  mix-blend-mode: multiply;
}

/* Spacing */

.pt-6, .py-6 {
  padding-top: 4.5rem!important;
}

.pb-6, .py-6 {
  padding-bottom: 4.5rem!important;
}

.row-sm-margin {
  margin-right: -6px !important;
  margin-left: -6px !important;
}

.row-sm-margin>.col, .row-sm-margin>.col-auto,
.row-sm-margin>.col-1, .row-sm-margin>.col-2,
.row-sm-margin>.col-3, .row-sm-margin>.col-4,
.row-sm-margin>.col-5, .row-sm-margin>.col-6,
.row-sm-margin>.col-7, .row-sm-margin>.col-8,
.row-sm-margin>.col-9, .row-sm-margin>.col-10,
.row-sm-margin>.col-11, .row-sm-margin>.col-12,
.row-sm-margin>.col-lg, .row-sm-margin>.col-lg-auto,
.row-sm-margin>.col-lg-1, .row-sm-margin>.col-lg-2,
.row-sm-margin>.col-lg-3, .row-sm-margin>.col-lg-4,
.row-sm-margin>.col-lg-5, .row-sm-margin>.col-lg-6,
.row-sm-margin>.col-lg-7, .row-sm-margin>.col-lg-8,
.row-sm-margin>.col-lg-9, .row-sm-margin>.col-lg-10,
.row-sm-margin>.col-lg-11, .row-sm-margin>.col-lg-12,
.row-sm-margin>.col-md, .row-sm-margin>.col-md-1,
.row-sm-margin>.col-md-10, .row-sm-margin>.col-md-11,
.row-sm-margin>.col-md-12, .row-sm-margin>.col-md-2,
.row-sm-margin>.col-md-3, .row-sm-margin>.col-md-4,
.row-sm-margin>.col-md-5, .row-sm-margin>.col-md-6,
.row-sm-margin>.col-md-7, .row-sm-margin>.col-md-8,
.row-sm-margin>.col-md-9, .row-sm-margin>.col-md-auto,
.row-sm-margin>.col-sm, .row-sm-margin>.col-sm-1,
.row-sm-margin>.col-sm-10, .row-sm-margin>.col-sm-11,
.row-sm-margin>.col-sm-12, .row-sm-margin>.col-sm-2,
.row-sm-margin>.col-sm-3, .row-sm-margin>.col-sm-4,
.row-sm-margin>.col-sm-5, .row-sm-margin>.col-sm-6,
.row-sm-margin>.col-sm-7, .row-sm-margin>.col-sm-8,
.row-sm-margin>.col-sm-9, .row-sm-margin>.col-sm-auto,
.row-sm-margin>.col-xl, .row-sm-margin>.col-xl-1,
.row-sm-margin>.col-xl-10, .row-sm-margin>.col-xl-11,
.row-sm-margin>.col-xl-12, .row-sm-margin>.col-xl-2,
.row-sm-margin>.col-xl-3, .row-sm-margin>.col-xl-4,
.row-sm-margin>.col-xl-5, .row-sm-margin>.col-xl-6,
.row-sm-margin>.col-xl-7, .row-sm-margin>.col-xl-8,
.row-sm-margin>.col-xl-9, .row-sm-margin>.col-xl-auto {
  padding-right: 6px !important;
  padding-left: 6px !important;
}

/* Utilities */

.min-vh-80 {
  min-height: 80vh;
}