@import '~bootstrap/dist/css/bootstrap.css';
@import 'assets/fonts/Inter/Inter.css';
@import 'assets/fonts/Lato/Lato.css';
@import 'assets/fonts/Viga/Viga.css';
:root {
  --dark-bg: #1B1B1B;
}

body {
  margin: 0;
  font-family: Inter, Arial, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #0C0C0C;
  text-align: left;
  background-color: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Background */

.bg-image {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.bg-comic {
  background-blend-mode: multiply;
  background-image: url('./assets/images/bg-comic.jpg');
  background-size: cover;
}

.bg-image:not([class*=absolute]) {
  position: absolute;
}

img.bg-image {
  object-fit: cover;
}

/* Card */

@media (max-width: 767.98px) {
  .card {
    margin-bottom: .6rem;
  }
}

.countdown-card {
  padding: 1rem;
  min-width: 180px;
  margin-bottom: 0.8rem;
}

/* Flex */

.flex-grow-1 {
  flex-grow: 1;
}

/* Grid */

.row {
  margin-right: -6px !important;
  margin-left: -6px !important;
}

.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col, .col-auto, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm, .col-sm-auto, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md, .col-md-auto, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg, .col-lg-auto, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl, .col-xl-auto {
  padding-right: 6px !important;
  padding-left: 6px !important;
}

/* Images */

img {
  max-width: 100%;
}

.blend-mode-multiply {
  mix-blend-mode: multiply;
}

/* Navbar */

.navbar {
  top: 0;
  height: 72px;
  font-family: Viga, Arial, sans-serif;
  font-weight: 400;
  font-size: 18px;
  letter-spacing: 1px;
  background-color: var(--dark-bg);
}

.nav-link {
  color: #FBFBFB;
  padding-left: 0.7rem !important;
  padding-right: 0.7rem !important;
}

.nav-link:hover {
  color: #FBFBFB;
  text-decoration: underline;
}

.active .nav-link {
  color: #2EA3F2;
}

.navbar-brand {
  height: 37px;
  width: auto;
  padding-top: 2px;
  padding-bottom: 2px;
}

/* Spacing */

.pt-6, .py-6 {
  padding-top: 4.5rem!important;
}

.pb-6, .py-6 {
  padding-bottom: 4.5rem!important;
}

/* Text */

.font-lato {
  font-family: Lato;
}

.font-inter {
  font-family: Inter;
}

/* Utilities */

.min-vh-80 {
  min-height: 80vh;
  min-height: calc(var(--vh, 1vh) * 80);
}

.min-vh-100 {
  min-height: 100vh;
  min-height: calc(var(--vh, 1vh) * 100);
}

.fit-screen {
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
}

/* iFrame */

.iframe-container {
  position: relative;
  padding: 56.25% 0 0;
}

.iframe {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}